@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body {
    width: 100%;
    background-image: url(../img/fon.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Ubuntu', sans-serif;

}

.body-new {
    background-image: url(../img/fon-new.png);

}

/* header */

.btn {
    font-size: 20px;
    color: #FFFFFF;
    cursor: pointer;
    background-color: #c3341f;
    border: #c3341f;
    border-radius: 10px;
    transition: 0.5s;
}

.btn:hover {
    background-color: #e95b45;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.4);
}

.title {
    font-weight: bold;
    font-size: 22px;
    color: #ffffff;
    margin: 18px 0 18px 79px;
}


.title a {
    color: #FFFFFF;
    transition: color  .3s ease-in;
}

.title:hover a {
    color: #3CB878;
}

.contacts-list {
    display: flex;
    list-style: none;
}

.contacts-list::after {
    content: "";
    width: 1px;
    height: 19px;
    background-color: #ffffff;
    margin: 5px 17px 0 0;
    opacity: 50%;

}

.contacts-link {
    margin-right: 24px;
    cursor: pointer;
}

.title-table {
    width: 22px;
    background-image: url(../img/table.svg);
    background-size: cover;
    background-repeat: no-repeat;
    transition: .3s ease-in;
}

.title-table:hover {
    width: 22px;
    background-image: url(../img/table-new.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

.title-email {
    width: 24px;
    background-image: url(../img/email.svg);
    background-size: cover;
    background-repeat: no-repeat;
    transition: .3s ease-in;
}

.title-email:hover {
    width: 24px;
    background-image: url(../img/email-new.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

.title-compas {
    width: 24px;
    background-image: url(../img/compas.svg);
    background-size: cover;
    background-repeat: no-repeat;
    transition: .3s ease-in;
}

.title-compas:hover {
    width: 24px;
    background-image: url(../img/compas-new.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

.contacts-singup {
    display: flex;
    align-items: center;

}

.login-singup {
    margin-right: 59px;
}
.login-singup-nav {
    display: flex;

}

.login-singup-nav li {
    font-size: 14px;
    color: #FFFFFF;
    list-style: none;
    margin-left: 5px;
}

.login-singup-nav a {
    color: #ffffff;
    transition: 0.3s ease-in;
}


.login-singup-nav a:hover {
    color: #3CB878;
}


/* container */

.container {
    width: 100%;
    height: 100%;
    margin: 54px 0 74px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-form {
    position: relative;
    width: 100%;
    max-width: 444px;
    margin: 0 auto;
    border: 1px solid #FFFFFF;
    background-color: #FFFFFF

}

.container-square::after {
    content: '';
    width: 18px;
    height: 18px;
    position: absolute;
    z-index: 10;
    top: 31px;
    left: -1px;
    background-color: #3CB878;

}

.container-registration {
    margin: 29px 60px 0 60px;
}
.registration-sign-log {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.registration-sign {
    font-size: 20px;
    color: #434343;

}

.registration-sign-new {
    color: #60ef53;

}

.registration-log a {
    font-weight: 500;
    font-size: 14px;
    color: #3CB878;
    transition: 0.5s;
}

.registration-log-new a {
    color: #47ed79;
    font-size: 20px;
    transition: 0.5s;
}

.registration-log:hover a{
    color: #01813F;
}


.registration-social {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
.btn-facebook {
    display: flex;
    cursor: pointer;
    align-items: center;
    font-size: 16px;
    color: #FFFFFF;
    background-color: #305DB8;
    border-radius: 5px;
    transition: 0.3s ease-in;
    position: relative;
}

.btn-facebook-new {
    background-color: #1d3d7d;
}

.btn-facebook::after {
    content: '';
    width: 1px;
    height: 28px;
    background-color: #0A162F;
    position: absolute;
    left: 48px;
    opacity: 18%;
}

.btn-facebook:hover {
    background-color: #022263;
}

.btn-facebook img {
    padding: 12px 34px 12px 16px;
}

.btn-facebook p {
    padding-right: 22px ;
}
.btn-google {
    display: flex;
    cursor: pointer;
    align-items: center;
    font-size: 16px;
    color: #FFFFFF;
    background-color: #DF4A32;
    border-radius: 5px;
    transition: 0.3s ease-in;
    position: relative;

}

.btn-google-new {
    background-color: #e12379;


}

.btn-google::after {
    content: '';
    width: 1px;
    height: 28px;
    background-color: #2B0D09;
    position: absolute;
    left: 48px;
    opacity: 18%;
}

.btn-google:hover {
    background-color: #AB1F09;
}

.btn-google img {
    padding: 15px 36px 14px 12px;
}

.btn-google p {
    padding-right: 27px;
}

.registration-or {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    text-align: center;
    color: #848484;
    margin-top: 31px;
    margin-bottom: 20px;
}

.registration-or p {
    margin: 0 3px;

}

.registration-or::before,
.registration-or::after {
    content: '';
    width: 152px;
    height: 1px;
    background-color: #F2F2F2;
    margin-top: 5px;

}


/* form */

.form {
    margin: 0 61px;

}

.first-name {
    width: 100%;
    padding: 12px 20px;
    margin-bottom: 16px;
    border: 2px solid #F2F2F2;
    outline: none;
    background-color: transparent;
    transition: 0.4s ease-in-out;

}
.first-name:focus {
    border: none;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.52);
}

.last-name {
    width: 100%;
    padding: 12px 20px;
    margin-bottom: 16px;
    border: 2px solid #F2F2F2;
    outline: none;
    background-color: transparent;
    transition: 0.4s ease-in-out;

}

.last-name:focus {
    border: none;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.52);
}

.form-email {
    width: 100%;
    padding: 12px 20px;
    margin-bottom: 16px;
    border: 2px solid #F2F2F2;
    outline: none;
    background-color: transparent;
    transition: 0.4s ease-in-out;

}

.form-email:focus {
    border: none;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.52);
}

.form-email:invalid {
    color: #DF4A32;
}

.choose-password {
    width: 100%;
    padding: 12px 20px;
    margin-bottom: 16px;
    border: 2px solid #F2F2F2;
    outline: none;
    background-color: transparent;
    transition: 0.4s ease-in-out;

}

.choose-password:focus {
    border: none;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.52);
}

.confirm-password {
    width: 100%;
    padding: 12px 20px;
    margin-bottom: 16px;
    border: 2px solid #F2F2F2;
    outline: none;
    background-color: transparent;
    transition: 0.4s ease-in-out;

}

.confirm-password:focus {
    border: none;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.52);
}


.checkbox {
    cursor: pointer;
}

.checkbox a {
    color: #3CB878;
    transition: 0.2s ease-in;
}

.checkbox a:hover {
    color: #01813F;
}

.real-checkbox {
    width: 0;
    height: 0;
    opacity: 0;
    position: absolute;
    z-index: -1;

}

.custom-checkbox {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    background:#FFFFFF;
    border: 2px solid #F2F2F2;
    vertical-align: sub;
    margin-right: 7px;
}

.custom-checkbox::before {
    content: '';
    display: inline-block;
    width: 14px;
    height: 18px;
    background-image: url(../img/checkbox.svg);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    margin-top: 2px;
    transition: 0.2s ease-in;
}


.custom-checkbox::before:hover {
    content: '';
    display: inline-block;
    width: 14px;
    height: 18px;
    background-image: url(../img/compas.svg);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    margin-top: 2px;
}

.real-checkbox:checked + .custom-checkbox::before:hover {
    transform: translate(-50%, -50%) scale(1);
}


.real-checkbox:checked + .custom-checkbox::before {
    transform: translate(-50%, -50%) scale(1);
}

.create-account {
    width: 100%;
    margin: 20px 0 38px 0;
    padding: 16px 0;
    text-align: center;
    font-size: 16px;
    color: #FFFFFF;
    background-color: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    transition: 0.3s ease-in;
}

.create-account a {
    color: #FFFFFF;
}

.create-account:hover {
    background-color: #01813F;
}


