.password-form {
    display: flex;
    flex-direction: column;
}

.input-wrapper {
    position: relative;
    width: 200px;
}

.input-wrapper input {
    min-width: 120px;
    padding: 10px;
    margin-bottom: 24px;
}

.input-wrapper i {
    position: absolute;
    right: 25px;
    top: 30px;
    color: grey;
}

.btn {
    width: 150px;
}

.non-activ {
    opacity: 0;
}

.input-two {
    position: relative;
}

.error-password {
    position: absolute;
    opacity: 0;
    color: red;
    font-size: 15px;
    left: 0;
    top: 40px;
}

.active-error {
    position: absolute;
    opacity: 1;
    color: red;
    font-size: 15px;
    left: 0;
    top: 40px;
}